.barra_buscar {
    margin-bottom: 10px;
}

.barra_buscar input {
    width: 98%;
    padding: 10px;
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: rgb(53, 86, 194);
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(247, 120, 74);
}

.formulario {
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.formulario input[type="number"] {
    width: 100px;
}

.formulario input[type="file"] {
    padding: 3px;
}

.formulario textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.formulario_botoes {
    text-align: right;
}

.formulario_botoes button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario_botoes button:hover {
    background-color: #0056b3;
}