h1 {
    color: #fff;
}

/* Estilos para o formulário */
form {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 220px;
    /* Ajuste para o formulário não sobrepor a barra de navegação */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select,
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    /* Cor do botão */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
    /* Efeito de hover no botão */
}